h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 75px 200px 50px 200px;
  font-size: larger;
}
p {
  margin: 200px;
}
.bold-paragraph {
  color: #299fa1;
}

#bold {
  background-color: #114fe0;
  color: white;
}

img {
  width: 100%;
}
